.logo {
  color: $currentColorText;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
}
.all-setled {
  color: $currentColorText;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 133.333%;
  text-transform: uppercase;
}

//HEADER
.nav__link.active::before {
  content: '';
  padding-bottom: 0.1875rem;
  height: 3px;
  background-color: rgba(255, 0, 27, 1);
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
}



.overage-modal {
  margin-left: 41px;
  padding: 1px 8px;
  background-color: $backgroundForBnt-text;
  border-radius: 5px;
  color: $currentColorText;
}

