$currentColorText: rgba(255, 255, 255, 1);
$borderDecoration: rgba(255, 0, 27, 1);
$textInfoFullName: rgba(0, 0, 0, 1);
$backgroundForBnt-text: rgba(255, 107, 8, 1);
$footerText: rgba(84, 84, 84, 1);

//Modal
$modalInfo: #8c8c8c;
