.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  @media (min-width: 767.98px) {
    display: flex;
  }

  &-contant {
    margin-top: 20px;
    background-color: $currentColorText;
    padding: 48px 20px 40px 20px;
    @media (min-width: 767.98px) {
      max-width: 704px;
      display: flex;
      gap: 68px;
      padding: 48px 72px 40px 36px;
      margin-top: 219px;
    }
    @media (min-width: 900.98px) {
      max-width: 804px;
      max-height: 558px;
    }
  }
  &-contant > img {
    border-radius: 5px;
    margin-bottom: 20px;
    @media (min-width: 767.98px) {
      max-width: 264px;
      max-height: 373.55px;
    }
  }
  &-article {
    @media (min-width: 767.98px) {
      max-width: 264px;
    }
  }
  &-article__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .info-modal__option {
    line-height: 16px;
    color: $modalTextSubscribe;
    font-size: inherit;
  }
  .info-modal__lean {
    line-height: 16px;
    color: $modalTextSubscribe;
    // display: inline-flex;
  }
  .info-modal__lean:not(:last-child) {
    margin-bottom: 8px;
  }
  .info-modal__value {
    color: #000000;
  }
  .info-modal {
    margin-bottom: 20px;
  }
  .overage-modal {
    color: $currentColorText;
  }
  .vote-modal {
    padding: 1px 4px;
    border-radius: 5px;
    color: $textInfoFullName;
    background-color: rgba(247, 247, 247, 1);
  }

  .info-modal__about {
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .info-modal__overview {
    line-height: 20px;
    margin-bottom: 20px;
  }
  .popular-modal {
    margin-left: 53px;
  }
  .title-modal {
    text-transform: uppercase;
    margin-left: 39px;
    display: inline-block;
    width: 50%;
    @media (max-width: 280px) {
      width: 30px;
    }
  }
  .genre-modal {
    display: inline-flex;
    margin-left: 76px;
    width: 50%;
    @media (max-width: 280px) {
      width: 30px;
    }
  }

  .modal-buttons {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    @media (min-width: 767.98px) {
      gap: 14px;
    }
  }
  .modal-buttons__watched {
    padding: 6px 27px;
    background-color: rgba(255, 107, 1, 1);
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    border-color: transparent;
    transition: all 0.3s ease;
    width: 110px;
    cursor: pointer;

    @media (min-width: 380px) {
      width: 150px;
    }
    @media (min-width: 500px) {
      width: 200px;
    }
    @media (min-width: 700px) {
      width: 250px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (min-width: 767.98px) {
      padding: 12px 9px;
      max-width: 125px;
      max-height: 44px;
    }
  }
  .modal-buttons__watched:hover,
  .modal-buttons__watched:active {
    background-color: #eb6404;
  }
  .modal-buttons__queue {
    padding: 16px 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    text-transform: uppercase;
    border-radius: 5px;
    color: #000;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #000;
    width: 110px;
    cursor: pointer;
    @media (min-width: 380px) {
      width: 150px;
    }
    @media (min-width: 500px) {
      width: 200px;
    }
    @media (min-width: 700px) {
      width: 250px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media (min-width: 767.98px) {
      padding: 12px 9px;
      max-width: 125px;
      max-height: 44px;
    }
    &:hover,
    &:active {
      color: rgba(255, 107, 1, 1);
      border-color: rgba(255, 107, 1, 1);
    }
  }
}

.modal-contant {
  position: relative;
}


