<section class="pagination">
  <div class="pagination__container">
    <div class="arrows">
      <button type="button" class="arrow-right js-arrow-to_left">
        <img
          src="./images/pagination/arrow-left.svg"
          alt="Left"
          width="16px"
          heigh="16px"
        />
      </button>
      <ul class="js-list"></ul>
      <button type="button" class="arrow-left js-arrow-to_right">
        <img
          src="./images/pagination/arrow-left.svg"
          alt="Left"
          width="16px"
          heigh="16px"
        />
      </button>
    </div>
  </div>
</section>
