.page-search {
  width: 100%;
  padding-top: 118px;
  background-size: 100%;
  padding-bottom: 92px;
  height: 230px;
  background: url('../images/header_background/headerMobile-min.jpg')
  no-repeat;
  background-size: 100%;
  @media (min-width: 767.98px) {
    background: url('../images/header_background/headerLaptop-min.jpg')
    no-repeat;
    height: auto;
    background-size: 100%;
  }
  @media (min-width: 900.98px) {
    background: url('../images/header_background/headerDesktop-min.jpg') no-repeat;
    background-size: 100%;
  }
}

.form-page {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 767.98px) {
    max-width: 336px;
  }
  @media (min-width: 900.98px) {
    max-width: 394px;
  }
  &__label { 
    position: relative;
    display: block;
  }
  &__input {
    height: 20px;
    color: white;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
  

  &__input::placeholder {
    color: $currentColorText;
  }

  &__button::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url('../images/header_svg/loopa.svg') no-repeat;
  }
}
